<div class="statistics-container"> 
    <div class="progress-bar">
        <div class="progress-label">План занятий:</div>
        <div class="progress-outer"><div class="progress-inner" [style.width]="progress + '%'"></div></div>
    </div>
    <div class="programm-container">
        <div *ngFor="let day of programm; let i = index;">
            <div style="display: flex; flex-direction: row; justify-content: space-between; border: 1px solid #d9d9d9; border-radius: 5px; gap: 20px; padding: 10px; margin: 5px 0 5px 0; ">
                <div style="flex-grow: 1;">
                    <div>День: {{i+1}}</div>
                    <div *ngFor="let ex of day.exercises" class="exercise-line">
                        <div class="exercise-line-header">
                            <div>{{ex.getType()}}</div>
                            <div>Ур {{ex.level}}</div>
                            <div style="flex-grow: 2;"></div>
                            <div style="overflow: hidden;">
                                <mat-icon style="color: green; height: 20px;" fontIcon="done" *ngIf="finished.isDone(ex)"></mat-icon>
                                <mat-icon style="color: red;" fontIcon="close" *ngIf="finished.isSkipped(ex)"></mat-icon>
                            </div>
                        </div>
                        <div style="flex-grow: 1; margin: 0 0 10px 10px;">{{ex.title}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>