<div>
    <div style="margin-left: 10px;margin-top: 10px;">Уровень: </div>
    <div class="container">
    <div class="radio-container">
        <label class="radio">
            <input type="radio" name="level" [value]="1" [(ngModel)]="level">
            <span>Начинающий</span>
        </label>
        <div class="hint">2 Упражнения в день, 3 дня в неделю</div>
    </div>
    <div class="radio-container">
        <label class="radio">
            <input type="radio" name="level" [value]="2" [(ngModel)]="level">
            <span>Средний</span>
        </label>
        <div class="hint">3 Упражнения в день, 3 дня в неделю</div>
    </div>
    <div class="radio-container">
        <label class="radio">
            <input type="radio" name="level" [value]="3" [(ngModel)]="level">
            <span>Сложный</span>
        </label>
        <div class="hint">6 Упражнений в день, 3 дня в неделю</div>
    </div>
    <div>
        <div style="display: flex; justify-content: space-around;">
            <div class="done-button" (click)="save()">Сохранить</div>
        </div>
    </div>
    </div>
</div>