.exercise-line {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-items: center; */
    margin-bottom: 10px;
    padding: 10px;
    column-gap: 10px;
}

.progress-outer{
    border: 1px solid;
    width: 100%;
    background-color: #E57373;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.progress-inner{
    background-color: #66BB6A;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0px;
}

.progress-bar {
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.progress-label {
    width: 100px;
    white-space: nowrap;
}

.plan-exercise-line {
    gap: 0px;
    margin: 0px;
    padding: 3px;
}

.done-button {
    background-color: #efefef;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #a3a3a3;
    cursor: pointer;
    color: #c70044
}

.exercises-container {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    border: 1px solid #d9d9d9; 
    border-radius: 5px; 
    gap: 10px; 
    margin: 5px 0 5px 0; 
}