<div style="padding: 10px;">
        <div class="exercises-container">
            <div style=" display: flex; flex-direction: row; justify-content: space-between; padding: 5px;">
                <div>Занятия на сегодня</div>
                <div routerLink="/current-day/0">Подробней</div>
            </div>
            <div style="flex-grow: 1;">
                <div *ngFor="let ex of currentDay.exercises; let i = index;" class="exercise-line" (click)="test()" routerLink="/current-day/{{i}}">
                    <div style="white-space: nowrap;">Ур {{ex.level}}</div>
                    <div style="flex-grow: 1;">{{ex.title}}</div>
                    <div style="white-space: nowrap;">
                        {{ex.iterations}} X {{ex.quantity}}
                        <span *ngIf="ex.mono"> X 2</span>
                        <span *ngIf="ex.time">{{ex.time}}</span>
                    </div>
                    <div style="width: 60px; display: flex; justify-content: end; flex-shrink: 0;">
                        <mat-icon fontIcon="check_circle" (click)="setDone(ex, $event)"  *ngIf="!finished.find(ex)"></mat-icon>
                        <mat-icon fontIcon="cancel" (click)="setNotDone(ex, $event)"  *ngIf="!finished.find(ex)"></mat-icon>
                        <mat-icon style="color: green;" fontIcon="done" *ngIf="finished.isDone(ex)"></mat-icon>
                        <mat-icon style="color: red;" fontIcon="close" *ngIf="finished.isSkipped(ex)"></mat-icon>
                    </div>
                </div>
                <div *ngIf="currentDay.exercises.length === 0">Вы все сделали</div>
            </div>
        </div>
        <div style="display: flex; justify-content: space-around;">
            <div class="done-button" (click)="finishExercises()">Закончить все упражнения</div>
        </div>
</div>