<div class="day-container">
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
        <div class="back-button" routerLink="/programm">&lt; Назад</div>
        <div style="width: 100px; display: flex; justify-content: space-around;">
            <mat-icon fontIcon="check_circle" (click)="setDone(exercise, $event)"  *ngIf="!finished.find(exercise)"></mat-icon>
            <mat-icon fontIcon="cancel" (click)="setNotDone(exercise, $event)"  *ngIf="!finished.find(exercise)"></mat-icon>
            <mat-icon style="color: green;" fontIcon="done" *ngIf="finished.isDone(exercise)"></mat-icon>
            <mat-icon style="color: red;" fontIcon="close" *ngIf="finished.isSkipped(exercise)"></mat-icon>
        </div>
    </div>
    <div style="flex-grow: 1; height: 100%; overflow: auto;">
        <div class="title">
            <div>#{{exerciseIndex+1}} / {{day.exercises.length}}</div>
            <div>{{exercise.title}}</div> 
            <div>
                {{exercise.iterations}} X {{exercise.quantity}}
                <span *ngIf="exercise.mono"> X 2</span>
                {{exercise.time}}
            </div>
        </div>
        <div *ngIf="exercise.images" style="display: flex; flex-direction: column;">
            <div *ngFor="let image of exercise.images">
                <img [src]="image" style="width: 100%; max-height: 20%;"/>   
            </div>
        </div>
    </div>
    <div class="day-buttons">
        <div><div *ngIf="exerciseIndex > 0" (click)="prev()">Предыдущее</div></div>
        <div (click)="finishExercises()" style="color: #c70044;">Закончить всё</div>
        <div><div *ngIf="exerciseIndex < day.exercises.length-1" (click)="next()">Следующее</div></div>
    </div>
</div>